---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <a
    href="/"
    class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow fixed top-6 left-6 z-10"
    >← Retour à l'accueil</a
  >
  <h1
    class="text-4xl md:text-5xl font-extrabold text-gray-900 text-center mb-12 select-none mt-16"
  >
    Menu des espèces
  </h1>

  <nav class="mt-12">
    <ul
      class="flex flex-col gap-6 justify-center absolute transform -translate-y-1/2 top-1/2 left-6"
    >
      <li>
        <a
          href="/species/Adelie"
          target="speciesFrame"
          class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow transition"
        >
          Manchot Adélie
        </a>
      </li>
      <li>
        <a
          href="/species/Chinstrap"
          target="speciesFrame"
          class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow transition"
        >
          Manchot Chinstrap
        </a>
      </li>
      <li>
        <a
          href="/species/Gentoo"
          target="speciesFrame"
          class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow transition"
        >
          Manchot Gentoo
        </a>
      </li>
    </ul>
  </nav>

  <div class="mt-12 max-w-5xl mx-auto">
    <iframe
      id="speciesFrame"
      name="speciesFrame"
      src="/species/Adelie"
      class="w-full border-0 rounded-lg shadow-lg overflow-hidden"
      scrolling="no"
      height="700"></iframe>
  </div>
</Layout>
