---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <a
    href="/"
    class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow fixed top-6 left-6 z-10"
    >← Retour à l'accueil</a
  >
  <h1
    class="text-4xl md:text-5xl font-extrabold text-gray-900 text-center mb-12 select-none mt-16"
  >
    Menu des espèces
  </h1>

  <select
    id="species"
    class="block mx-auto p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg"
  >
    <option selected disabled value="">Selectionnez une espèce</option>
    <option value="Adelie">Adelie</option>
    <option value="Chinstrap">Chinstrap</option>
    <option value="Gentoo">Gentoo</option>
  </select>
</Layout>
<script>
  document.querySelector("#species")?.addEventListener("change", (evt) => {
    const value = (evt.target as HTMLSelectElement).value;
    location.pathname = "/species/" + value;
  });
</script>
