---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <a
    href="/"
    class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow fixed top-6 left-6 z-10"
    >← Retour à l'accueil</a
  >
  <h1
    class="text-4xl md:text-5xl font-extrabold text-gray-900 text-center mb-12 select-none mt-16"
  >
    Menu des espèces
  </h1>

  <nav class="mt-16">
    <ul class="flex flex-col md:flex-row gap-6 justify-center">
      <li>
        <a
          href="/species/Adelie"
          class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow"
          >Manchot Adélie</a
        >
      </li>
      <li>
        <a
          href="/species/Chinstrap"
          class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow"
          >Manchot Chinstrap</a
        >
      </li>
      <li>
        <a
          href="/species/Gentoo"
          class="text-lg font-medium text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md shadow"
          >Manchot Gentoo</a
        >
      </li>
    </ul>
  </nav>
</Layout>
